body {
    background-image: linear-gradient(to right, rgb(79, 248, 248), white);
    font-family: 'Times New Roman', Times, serif;
}

/* div#desk {
    background: url("desk.jpg") no-repeat;
} */

    div#all {
        position: absolute;
        top: 50px;
        left: 400px;
        padding: 50px;
        margin: auto;
        width: 500px;
        /* background-color: rgb(183, 236, 233); */
        background: url("notebook.png");
        text-align: center;

    }

        header {
            text-decoration: underline;
            font-weight: bold;
        }

        label {
            position: static;
            font-style: italic;
            margin-right: 5px;
            margin-left: 10px;
        }

            label p {
                text-align: left;
                width: 150px;
                line-height: 15px;
                display: inline-block;
            }

        input {
            position: static;
            display: inline-block;
        }

        div.answer {
            width: 50px;
            height: 50px;
            display: inline-block;
        }

        #right {
            background: url("green_tick.png") center center no-repeat;
        }

        #wrong {
            background: url("red_cross.png") center center no-repeat;
        }

        div#score{
            display: inline-block;
        }

        aside {
            position: fixed;
            top: 50px;
            width: 300px;
            height: 211px;
            left: -150px;
        }

            aside img:hover {
                width: 150%;
            }